@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jakarta);
  --font-mono: var(--font-roboto-mono);
  --font-cursive: var(--font-caveat);
}

.dark {
  --background: #0E0E0E;
  --foreground: #ededed;
}

body {
  background-color: transparent;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}


/* Skip Intro Loader on refresh */
html.skip-intro #intro-loader {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}
